<%- include('partials/header') %>

<div class="container">
  <div class="row mt-5">
    <h1 class="text-center border-botton">Lista de Reservas</h1>
    <div class="col">
      <div class="col-md-3 mb-2">
        <a href="/reserva/crear" class="btn btn sm btn-primary" id>Nuevo </a>
        <a href="/" class="btn btn-info text-light">Inicio</a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Codigo de reserva</th>
            <th>Fecha de la reserva</th>
            <th>¿Para cuando se solicita?</th>
            <th>Costo del pasaje</th>
            <th>Origen</th>
            <th>Destino</th>
          </tr>
        </thead>
        <tbody id="listaReservas"></tbody>
      </table>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
